<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../../../style.css">
    <base target="_parent">
    <title data-trilium-title>app.component.html</title>
  </head>
  
  <body>
    <div class="content">
       <h1 data-trilium-h1>app.component.html</h1>

      <div class="ck-content">
        <p><span style="color:#ffffff;">&lt;</span><span style="color:#6dbdfa;">div</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#f7ecb5;"><i>class</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">box w-[35%] flex flex-col m-auto mt-10 border-2 p-10 rounded-xl shadow-2xl</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">button</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>class</i></span>
            <span
            style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">btn</span>
              <span
              style="color:#6bff81;">"</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>(click)</i></span>
                <span
                style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#87aff4;"><i>deleteImage</i></span>
                  <span
                  style="color:#a7dbf7;">()</span><span style="color:#6bff81;">"</span><span style="color:#a7dbf7;"> </span>
                    <span
                    style="color:#f7ecb5;"><i>[disabled]</i>
                      </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
                      <span
                      style="color:#00bff9;"><i>!</i>
                        </span><span style="color:#d6deeb;"><i>preview</i></span><span style="color:#6bff81;">"</span>
                        <span
                        style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">i</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>class</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">fa-solid fa-xmark bg-red-500 rounded-full w-10 h-10 flex justify-center items-center text-white hover:bg-red-600</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&gt;&lt;/</span>
          <span
          style="color:#6dbdfa;">i</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">button</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>class</i></span>
            <span
            style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">slideBox my-10 mx-auto</span>
              <span
              style="color:#6bff81;">"</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">img</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>onError</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">this.src = './assets/images/default-image.jpg'</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>[src]</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#d6deeb;"><i>preview</i></span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>alt</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">preview image</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>id</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">preview</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">/&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p>
          <br>&nbsp;</p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">hr</span><span style="color:#a7dbf7;"> </span><span style="color:#ffffff;">/&gt;</span>
        </p>
        <p>
          <br>&nbsp;</p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>class</i></span>
            <span
            style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">slider flex justify-between items-center</span>
              <span
              style="color:#6bff81;">"</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>class</i></span>
            <span
            style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">uploadBtn flex flex-row justify-center items-center gap-4</span>
              <span
              style="color:#6bff81;">"</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#00bff9;"><i>@if</i></span>
          <span
          style="color:#a7dbf7;">(</span><span style="color:#d6deeb;"><i>images</i></span><span style="color:#a7dbf7;">.</span>
            <span
            style="color:#7fdbca;"><i>length</i>
              </span><span style="color:#a7dbf7;"> </span><span style="color:#00bff9;"><i>&lt;</i></span>
              <span
              style="color:#a7dbf7;"></span><span style="color:#8dec95;">6</span><span style="color:#a7dbf7;">) </span>
                <span
                style="color:#ffffff;">{</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">label</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>for</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">upload</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">btn btn-success bg-green-500 cursor-pointer rounded-sm text-white text-3xl
              font-bold w-10 h-10 flex justify-center items-start hover:bg-green-600</span>
              <span
              style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#ffffff;">&gt;</span><span style="color:#a7dbf7;">+</span><span style="color:#ffffff;">&lt;/</span>
            <span
            style="color:#6dbdfa;">label</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">}</span>
          <span
          style="color:#a7dbf7;"></span><span style="color:#00bff9;"><i>@for</i></span><span style="color:#a7dbf7;"> (</span>
            <span
            style="color:#d6deeb;"><i>image</i>
              </span><span style="color:#a7dbf7;"> </span><span style="color:#00bff9;"><i>of</i></span>
              <span
              style="color:#a7dbf7;"></span><span style="color:#d6deeb;"><i>images</i></span><span style="color:#a7dbf7;">; </span>
                <span
                style="color:#d6deeb;"><i>track</i>
                  </span><span style="color:#a7dbf7;"> </span><span style="color:#d6deeb;"><i>$index</i></span>
                  <span
                  style="color:#a7dbf7;">)</span><span style="color:#ffffff;">{</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">img</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>[src]</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#d6deeb;"><i>image</i>
              </span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>alt</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">image from images slider</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">w-10 h-10 cursor-pointer</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>(click)</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#87aff4;"><i>displayImage</i>
              </span><span style="color:#a7dbf7;">(</span><span style="color:#d6deeb;"><i>$index</i></span>
              <span
              style="color:#a7dbf7;">)</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">/&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">}</span>
        </p>
        <p>
          <br>&nbsp;</p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">input</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>type</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">file</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>id</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">upload</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>hidden</i>
            </span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>multiple</i>
            </span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>(change)</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#87aff4;"><i>getImages</i>
              </span><span style="color:#a7dbf7;">(</span><span style="color:#d6deeb;"><i>$event</i></span>
              <span
              style="color:#a7dbf7;">)</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">/&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p>
          <br>&nbsp;</p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#a7dbf7;"> </span><span style="color:#f7ecb5;"><i>class</i></span>
            <span
            style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">flex justify-end items-center p-4 gap-2</span>
              <span
              style="color:#6bff81;">"</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">button</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>(click)</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#87aff4;"><i>backImage</i>
              </span><span style="color:#a7dbf7;">()</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>[disabled]</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#00bff9;"><i>!</i>
              </span><span style="color:#d6deeb;"><i>preview</i></span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>[ngClass]</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#a7dbf7;">{</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#6bff81;">'</span><span style="color:#bcf0c0;">bg-green-500 hover:bg-green-600</span>
            <span
            style="color:#6bff81;">'</span><span style="color:#a7dbf7;">: </span><span style="color:#d6deeb;"><i>preview</i></span>
              <span
              style="color:#a7dbf7;">,</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#6bff81;">'</span><span style="color:#bcf0c0;">bg-red-500 hover:bg-red-600</span>
            <span
            style="color:#6bff81;">'</span><span style="color:#a7dbf7;">: </span><span style="color:#00bff9;"><i>!</i></span>
              <span
              style="color:#d6deeb;"><i>preview</i>
                </span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; }</span>
          <span
          style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">rounded-full</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#ffffff;">&lt;</span><span style="color:#6dbdfa;">i</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">fa-solid fa-arrow-left rounded-full w-10 h-10 flex justify-center items-center
              text-white</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#ffffff;">&gt;&lt;/</span><span style="color:#6dbdfa;">i</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">button</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">button</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>(click)</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#87aff4;"><i>forwardImage</i>
              </span><span style="color:#a7dbf7;">()</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>[disabled]</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#00bff9;"><i>!</i>
              </span><span style="color:#d6deeb;"><i>preview</i></span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>[ngClass]</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#a7dbf7;">{</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#6bff81;">'</span><span style="color:#bcf0c0;">bg-green-500 hover:bg-green-600</span>
            <span
            style="color:#6bff81;">'</span><span style="color:#a7dbf7;">: </span><span style="color:#d6deeb;"><i>preview</i></span>
              <span
              style="color:#a7dbf7;">,</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#6bff81;">'</span><span style="color:#bcf0c0;">bg-red-500 hover:bg-red-600</span>
            <span
            style="color:#6bff81;">'</span><span style="color:#a7dbf7;">: </span><span style="color:#00bff9;"><i>!</i></span>
              <span
              style="color:#d6deeb;"><i>preview</i>
                </span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; }</span>
          <span
          style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">rounded-full</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#ffffff;">&lt;</span><span style="color:#6dbdfa;">i</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#f7ecb5;"><i>class</i>
            </span><span style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span>
            <span
            style="color:#bcf0c0;">fa-solid fa-arrow-right rounded-full w-10 h-10 flex justify-center items-center
              text-white</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span>
          <span
          style="color:#ffffff;">&gt;&lt;/</span><span style="color:#6dbdfa;">i</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">button</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">div</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p>
          <br>&nbsp;</p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;</span>
          <span
          style="color:#6dbdfa;">button</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>(click)</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#87aff4;"><i>clearImages</i></span>
            <span
            style="color:#a7dbf7;">()</span><span style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp;&nbsp;</span><span style="color:#f7ecb5;"><i>class</i></span>
          <span
          style="color:#a7dbf7;">=</span><span style="color:#6bff81;">"</span><span style="color:#bcf0c0;">m-auto w-[50%] bg-green-500 text-center text-xl cursor-pointer font-extrabold text-white p-1 my-3 rounded-3xl hover:bg-red-600</span>
            <span
            style="color:#6bff81;">"</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; &nbsp; Clear All Images</span>
        </p>
        <p><span style="color:#a7dbf7;">&nbsp; </span><span style="color:#ffffff;">&lt;/</span>
          <span
          style="color:#6dbdfa;">button</span><span style="color:#ffffff;">&gt;</span>
        </p>
        <p><span style="color:#ffffff;">&lt;/</span><span style="color:#6dbdfa;">div</span>
          <span
          style="color:#ffffff;">&gt;</span>
        </p>
        <p>
          <br>&nbsp;</p>
      </div>
    </div>
  </body>

</html>